$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 24px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: #9ca9b3;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
@import "~hamburgers/_sass/hamburgers/hamburgers";
